@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
*{
  box-sizing: border-box;
  font-family: sans-serif;
}
menu{
    background-color: gray;
    display: inline-block;
}
li{
    margin-bottom: 20px;
    list-style: none;
}
.fa, a{
    text-decoration: none;
    color: #fff;
    transition: 1s;
}
a:hover{
    color: crimson;
}
.menu li > a {
    font-size: 15.5px;
    text-decoration: none;
    color: aliceblue;
    transition: all 1s linear;
  }
.menu li {
    list-style: none;
    position: relative;
    width: 250px;
    height: 36px;
}
.fa{
    position: relative;
    display: table-cell;
    font-size: 20px;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
}
.menu {
    background-color: gray;
    position: relative;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 60px;
    overflow: hidden;
    z-index: 1000;
    transition: all 500ms linear;
}
.menu:hover {
    width: 300px;
}
.menu .ul-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
}
.menu > ul {
    margin: 7px 0;
}
nav ul, nav li{
    margin: 0;
    padding: 0;
}
.nav-text-here{
   transform: rotate(90deg);
   position: relative;
   top: 50%;
   left: -150px;
   width: 300px;
   font-size: 15px;
   color: white;
}
.menu:hover .nav-text-here{
    opacity: 0;
}